body {
	background-image:
		url("https://www.tokkoro.com/picsup/3084426-blur_electric-locomotive_electric-post_engine_fast_grass_guidance_outdoors_railway_railway-tracks_railways_road_signal_station_tilt-shift_track_traffic-lights_train_transport_transportation-syste.jpg" );
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;

}